.project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates 2 equal-width columns */
  gap: 20px; /* Adds space between the grid items */
  padding-left: 140px;
  padding-right: 140px;
}

.project-image {
  width: 100%; /* Full width of the grid cell */
  height: 500px; /* Set fixed height for uniform size */
  object-fit: cover; /* Crop images to fill the container while preserving aspect ratio */
  margin-bottom: 10px;
  transition: transform 0.3s ease; /* Smooth transition for the shrinking effect */
}

.project-image:hover {
  transform: scale(0.95); /* Slightly shrink the image on hover */
}

.button-container {
  text-align: center;
}

@media (max-width: 768px) {
  .cover-image {
    height: 150px;
  }

  .project-container {
    grid-template-columns: 1fr; /* Single column layout */
    padding-left: 20px;
    padding-right: 20px;
  }

  /* Adjust project image size */
  .project-image {
    height: auto; /* Remove fixed height for responsive sizing */
    max-height: 300px; /* Optional max height for smaller screens */
  }

  /* Center the cover image and make it responsive */
  .cover-image {
    width: 100%;
    height: auto; /* Makes image responsive */
    margin: 0 auto;
  }

  /* Ensure the button container has appropriate spacing */
  .button-container {
    padding-top: 20px;
  }
}
