.navbar-custom {
  background-color: #2b2a2a !important;
  color: #ffffff !important;
  border-bottom: 1px solid #ffffff !important;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1000;
}

#nav-sig {
  padding-left: 5px;
  color: inherit;
  text-decoration: none;
}

#nav-sig:visited {
  color: inherit;
}


.nav-item {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.navbar-custom .nav-link {
  color: #ffffff !important;
  position: relative;
  text-decoration: none;
  font-weight: 150 !important;
}

.navbar-custom .navbar-nav {
  display: flex;
  justify-content: flex-end;
}

.navbar-custom .nav-item {
  margin-left: 10px;
}

/* Change the color of the burger menu icon */
.navbar-toggler {
  border-color: transparent !important; /* Removes the default border */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}


@media (max-width: 768px) {

}
